@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SP Pro Text/SFProText-Regular.eot');
    src: url('../fonts/SP Pro Text/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SP Pro Text/SFProText-Regular.woff2') format('woff2'),
        url('../fonts/SP Pro Text/SFProText-Regular.woff') format('woff'),
        url('../fonts/SP Pro Text/SFProText-Regular.ttf') format('truetype'),
        url('../fonts/SP Pro Text/SFProText-Regular.svg#SFProText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*, *::before, *::after{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 16px;
    width: 100%;
    display: block;
}

#navbar {
    overflow: hidden;
}

.navbar a {
    /* float: left;
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 5px; */

    display: inline-block;
}

.navbar{
    background-color:rgba(34, 34, 34, 0.973);
    width: 100%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    justify-content: center;
    text-decoration: none;
    overflow: hidden; 
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    /* margin-left: 55px; */
}

.nav-bar{
    margin-left: 3%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    font-style: bold;
}
h1{
    font-size: 55px;    
}
h2 {
    font-size: 30px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 32px;
}
h5 {
    font-size: 24px;
}
h6{
    font-size: 20px;
}

p{
    font-weight: 400;
    line-height: 1.5;
    padding-right: 2%;
    left: 20%;
    display: inline-block;
}

.apple-header{
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.apple-header-top{
    background-color:rgba(59, 59, 59, 0.973);
    padding: 12px;
}
.region{
    color: white;
    font-size: 12px;
    margin-left: 32%;
}
.button{
    background: linear-gradient(#42a1ec, #0070c9);
    color: white;
    font-size: 17px;
    line-height: 1.52947;
    letter-spacing: -.021em;
    font-size: 18px;
    display: inline-block;
    margin-left:40px;
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    width: 100px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-align: center;
}

.class{
    color: rgb(3, 3, 3);
    text-align: center;
    margin-top: 100px;
    font-size: 10px;
}

.ipad {
    height: 550px;
    width: 100%;
    margin-top: 9%;
}

.headline{
    position: absolute;
    top: 18%;
    left: 45%;
    display: flex;
    color: white;
}

.nextline{
    position: absolute;
    top: 25%;
    left: 40%;
    display: flex;
    color: white;
}

.cta-link{
    color: blue;
    text-decoration: none;
    font-size: 20px !important;
}
.cta-one {
    position: absolute;
    top: 33%;
    left: 42%;
    display: flex;
}

.cta-two{
    position: absolute;
    top: 33%;
    left: 50%;
}

.thirdline{
    position: absolute;
    top: 75%;
    left: 45%;
    display: flex;
    color: black;
}

.fourthline{
    position: absolute;
    top: 82%;
    left: 46%;
    display: flex;
    color: black;
    font-size: 30px;
}

.ios-12{
    width:100%; 
    height:590px;
}
.text{
    position: absolute;
    top: 87%;
    margin-right: 35%;
    left: 42%;
    color: black;
    font-size: 18px;
}

.cta-three {
    position: absolute;
    top:96%;
    left: 42%;
    display: flex;
}

.cta-four {
    position: absolute;
    top:96%;
    left: 50%;
    display: flex;
}

.fifthline{
    position: absolute;
    top: 100%;
    margin-top: 20%;
    left: 48%;
    display: flex;
    color: black;
}

.sixthline{
    position: absolute;
    top: 98%;
    margin-top: 25%;
    left: 49%;
    color: black;
    font-size: 23px;
}

.mac{
    width:100%; 
    height:590px;
}

.cta-five {
    position: absolute;
    top:92%;
    left: 43%;
    margin-top: 30%;
}

.cta-six {
    position: absolute;
    top:92%;
    left: 50%;
    margin-top: 30%;
}

.wwdc{
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-direction: reverse;
}

section {
    position: relative;
  }
  
  section img {
      position: absolute;
  }
  
  @keyframes fade {
      0% {
          opacity: 1;
      }
      25% {
          opacity: 1;
      }
      75% {
          opacity: 0;
      }
      100% {
          opacity: 0;
      }
  }


.seventhline{
    position: absolute;
    top: 5%;
    left: 40%;
    color: white;
    font-size: 35px;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-direction: reverse;
}

.eightline{
    position: absolute;
    top: 33%;
    left: 30%;
    color: white;
    font-size: 20px;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-direction: reverse;
}

.nineline{
    position: absolute;
    top: 40%;
    left: 37%;
    color: white;
    font-size: 20px;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-direction: reverse;
}
.cta-seven{
    position: absolute;
    top: 80%;
    left: 36%;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-direction: reverse;
}

.pro-max{
    top: 50%;
    float: right;
}

.pro-12{
    position: absolute;
    top: 100%;
    left: 67%;
    margin-top: 49%;
    color: white;
    font-size: 35px;
}

.leapyear{
    position: absolute;
    top: 100%;
    left: 68%;
    color: white;
    font-size: 23px;
    margin-top: 51%;
}

.text-2{
    position: absolute;
    top: 90%;
    left: 65%;
    margin-top: 58%;
    margin-right:17%;
    color: rgb(160, 144, 144);
    font-size: 14px;
}
.cta-eight{
    position: absolute;
    top:100%;
    left: 63%;
    margin-top: 56%;
}

.cta-nine{
    position: absolute;
    top:100%;
    left: 71%;
    margin-top: 56%;
} 

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 3px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.column-image{
    max-width: 100%;
}

.watch{
    position: absolute;
    top: 100%;
    left: 22%;
    margin-top: 73%;
    color: white;
}

.watch-series-6{
    position: absolute;
    top: 97%;
    left: 25%;
    color: red;
    font-size: 15px;
    margin-top: 76%;
}

.i-watch{
    float: left;
    margin-top: 1%;
    display: flex;
}

.series-6{
    position: absolute;
    top: 100%;
    left: 15%;
    display: flex;
    margin-top: 76%;
    color: white;
}

.cta-ten{
    position: absolute;
    display: flex;
    top:100%;
    left: 18%;
    margin-top: 78%;
}

.cta-eleven{
    position: absolute;
    display: flex;
    top:100%;
    left: 25%;
    margin-top: 78%;
}

.apple-health{
    margin-top: 18%;
    margin-bottom: 20%;
}

.fitness{
    position: absolute;
    display: flex;
    margin-top: 1%;
    margin-left: 23%;
}

.text-3{
    position: absolute;
    margin-left: 52%;
    margin-top: 4%;
    color: rgb(160, 144, 144);
    font-size: 20px;
}

.text-4{
    position: absolute;
    margin-top: 5%;
    margin-left: 54%;
    color: rgb(139, 129, 129);
    font-size: 20px;
}

.cta-twelve{
    position: absolute;
    margin-top:7%;
    left: 71%;
    display: flex;
}

.cta-thirteen{
    position: absolute;
    margin-top:7%;
    left: 78%;
    display: flex;
}

.i-card{
    float: left;
    margin-top: -25%;
}

.card{
    position: absolute;
    display: flex;
    margin-top: -11%;
    margin-left: 20%;
}

.text-5{
    position: absolute;
    display: flex;
    margin-top: -8%;
    margin-left: -1%;
    color: rgb(139, 129, 129);
    font-size: 18px;
  }
  
  .text-6{
    position: absolute;
    display: flex;
    margin-top: -7%;
    margin-left: 1%;
    color: rgb(139, 129, 129);
    font-size: 18px;
  }
  
  .cta-fourteen{
    position: absolute;
    display: flex;
    margin-top: -5%;
    margin-left: 20%;
  }
  
  .cta-fifteen{
    position: absolute;
    display: flex;
    margin-top: -5%;
    margin-left: 27%;
  }

  .tv-pro{
      margin-top: -24%;
      float: right;
  }

  .tv{
    position: absolute;
    display: flex;
    margin-top: 2%;
    margin-left: 22%;
    font-size: 40px;
    color: white;
  }
  
  .text-7{
    position: absolute;
    display: flex;
    margin-top: 4%;
    margin-left: 50%;
    color: rgb(239, 243, 12);
    font-size: 48px;
  }
  
  .text-8{
    position: absolute;
    display: flex;
    margin-top: 7%;
    margin-left: 950px;
    color: white;
    font-size: 18px;
  }
  
  .text-9{
    position: absolute;
    display: flex;
    margin-top: 8%;
    margin-left: 50%;
    color: white;
    font-size: 18px;
  }
  .Apple-footer{
    background-color: #f5f5f7;
    margin-right: 5%;
    width: 100%;
  }

  .info{
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 11px;
    display: block;
    margin-left: 20%;
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #f5f5f7;
    color: #1d1d1f;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    }


    /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column-text {
    float: left;
    width: 20%;
    padding: 0px;
    padding-left: 5%;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  ul{
    margin-right: 20%;
    list-style: none;
    margin-left: 5%;
    padding: 0;
    display: block;
    margin-bottom: .8em;
    color: #515154;
}

  .first-title{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-right: 10px;
    margin: 15px;
    margin-bottom: -15px;
  }

  .second-title{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-right: 10px;
    margin: 15px;
    margin-bottom: -15px;
  }

  .third-title{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-right: 10px;
    margin: 15px;
    margin-bottom: -15px;
  }

  .fourth-title{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-right: 10px;
    margin: 15px;
    margin-bottom: -15px;
  }
  .fifth-title{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-right: 10px;
    margin: 15px;
    margin-bottom: -15px;
  }

  .sixth-title{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-right: 10px;
    margin: 15px;
    margin-bottom: -15px;
  }

  .seventh-title{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-right: 10px;
    margin: 15px;
    margin-bottom: -15px;
  }

  .eight-title{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-right: 10px;
    margin: 15px;
    margin-bottom: -15px;
  }

  .nineth-title{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-right: 10px;
    margin: 15px;
    margin-bottom: -15px;
  }

  .tenth-title{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-left: 50%;
    margin: 15px;
    margin-bottom: -15px;
  }


  li a{
      text-decoration: none;
      color: #1d1d1f;
      font-size: 12px;
      margin-left: -65px;
      align-items: center;
  }


  .text-body{
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    display: block;
    width: 50%;
    margin-left: 25%;
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #f5f5f7;
    color: #1d1d1f;
    min-width: 1024px;
    position: relative;
    z-index: 1;
  }

  .my-apple{
    margin-left: -850px;
    width: 550px;
    text-transform: none;
  }
  




