
h1, h2, h3, h4, h5{
    font-weight: bolder;
    font-style: bolder;
}

h6{
    font-weight: lighter;
}
h1{
    font-size: 50px;    
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}
h2 {
    font-size: 10px;
}
h3{
    font-size: 29px;
    color: black;
}
h4{
    font-size: 32px;
}
h5 {
    font-size: 24px;
}
h6{
    font-size: 20px;
    color: white;
    font-weight: 500;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}

* {
    box-sizing: border-box;
}

/* .text{
    margin-top: -73%;
    color: rgb(8, 8, 8);  
}

.text-2{
    margin-top: -73%;
    color: rgb(0, 0, 0);  
}

.text-3{
    margin-top: -73%;
    color: rgb(0, 0, 0);  
}

.text-4{
    margin-top: -73%;
    color: rgb(5, 5, 5);  
} */



.title{
    margin-left: 40%;
}


  a{
    text-decoration: none;
    color: rgb(231, 221, 233);
    font-size: 20px;
    /* margin-left: 55px; */
}

.navbar{
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: -1%;
    justify-content: right;
}

.nav-bar{
    text-align: center;
    
}

.button{
    background: linear-gradient(#c9d1d6, #082032);
    color: white;
    font-size: 17px;
    line-height: 1.52947;
    letter-spacing: -.021em;
    font-size: 18px;
    display: inline-block;
    margin-left:0%;
    margin-top: 2%;
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 90px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

.apple-header{
    background-color:black;
    padding: 10px 3px;
}


.apple-header-top{
    margin-left: 80%;
    margin-top: -3%;
}


.row{
    align-content: center;
    width: 100%;
}
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  ul{
    margin-right: 0%;
    list-style: none;
    margin-left: 0%;
    padding: 0;
    width: 25%;
    margin-left: 10%;
    margin-bottom: .8em;
    color: #515154;
}

  .first-title{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 900;
    margin-bottom: 5%;
  }

  li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}

.text-body{
    color: #86868b;
    display: flex;
    font-size: 29px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #1d1d1f;
    background-color: #1d1d1f;
}

#namebox{
    width:350px;
    height:30px;
    margin-left: -10%;
    border-radius:5px 5px 5px 5px;
    background:white;
    padding:5px;
    font-size:18px;
    border-width: px;
}

.blog-content{
    background-color: white;
    width: 90%;
}

/* img{
    width: 75%;
    padding: 1%;
} */

/* .content-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-left: 1%;
    padding-bottom: 4%;
} */

.content-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}


.content-2{
    display: flex;
    flex-direction: row;
}

.content-3{
    display: flex;
    flex-direction: row;
}



/* .content-2{
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-bottom: 4%;
    justify-content: space-evenly;
}

.content-3{
    display: flex;
    padding-left: 4%;
    flex-direction: row;
    justify-content: space-evenly;
} */

.blog-body{
    background-image: linear-gradient(white, blue);
    background: #f0f9f0;
    padding-inline: 17%;

}

.post-1{
    background-color: red;
    width: 230px;
    font-size: 25px;
    font-family: 'Arimo', sans-serif;
    color: white;
    padding: 10px;
    margin-left: 2%;

}

.post-2{
    background-color: red;
    width: 250px;
    font-size: 25px;
    font-family: 'Arimo', sans-serif;
    color: white;
    padding: 10px;
    margin-top: px;

}

.text-1{
    width: 530px;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    color: black;
    padding: 10px;
    margin-top: -5px;
}

.text-2{
    width: 530px;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    color: black;
    padding: 10px;
    margin-top: -5px;
}

.text-3{
    width: 520px;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    color: black;
    padding: 10px;
    margin-top: -5px;
}

.text-4{
    width: 500px;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    color: black;
    padding: 10px;
    margin-top: -5px;
}

.text-5{
    width: 500px;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    color: black;
    padding: 10px;
    margin-top: -5px;
}

.text-6{
    width: 500px;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    color: black;
    padding: 10px;
    margin-top: -5px;
}

.blog-blog{
    position: absolute;
    top: 30%;
    left: 80%;
}

.image-1{
    width: 60%;
}

.text-7{
    background-color: black;
    width: 230px;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    color: white;
    padding: 10px;
    margin-top: -5px;
}

.text-8{
    background-color: black;
    width: 230px;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    color: white;
    padding: 15px;
    margin-top: -5px;
}

.text-9{
    background-color: black;
    width: 230px;
    font-size: 15px;
    font-family: 'Arimo', sans-serif;
    color: white;
    margin-top: -5px;
    padding: 20px;
}


@media screen and (max-width:600px){

    .blog-blog{

        display: none;
    }

    .text-1{
        font-size: 10px;
    }
    .text-2{
        font-size: 10px;
    }
    .text-3{
        font-size: 10px;
    }
    .text-4{
        font-size: 10px;
    }
    .text-5{
        font-size: 10px;
    }
    .text-6{
        font-size: 10px;
    }
}

body{
    margin: 0%;
}