html {
    font-size: 16px;
}

h4{
    font-size: 60px;
    margin-top: 2%;
}

h5{
    font-size: 55px;
    margin-top: -5%;
}

p{
    font-size: 45px;
}

body{
    margin: 0;
}

header {
    width: 40px;
    height: 40px;
    margin-top: 10%;
}

div, section {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    float: left;
}

img {
    width: 10%;
    height: 10%;
    margin-left: 5%;
}

.navbar{
    width: 44%;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    justify-content: center;
    text-decoration: none;
    overflow: hidden; 
    display: flex;
    flex-direction: row;
}

.bar{
    width: 20%;
    display: block;
    color: white;
    padding: 5px 5px;
    margin-left: 80%;
    text-decoration: none;
    overflow: hidden; 
    display: flex;
    margin-top: -3%;
    flex-direction: row;
}

a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    /* margin-left: 55px; */
}

.nav-bar{
    margin-left: 3%;
}

.press{
    width: 100%;
    padding: 5px 100px;
    background-color: #84c0fc;
}

.button{
    color: #fff;
    background-color: #1d2a3b;
    border: 1px solid #1d2a3b;
    text-align: center;
    font-weight: 700;
    font-size: 1.0rem;
    padding: 1.1rem 3rem;
    line-height: 1;
    border-radius: .2rem;
    overflow: hidden;
    background-position: -100%;
    transition: all .5s ease;
}