body {
    background-color: #3d5b99;
    margin: 5px;
    padding-left: 10px;
    margin-right: all;}
h1 {
    text-align: center;
   	color:white;
   	font-family:verdana;
    font-size: 50px;
    height: 100px;
    margin: 5px;
    margin-top: 200px;
    margin-bottom: 0px;
}
#namebox{
    width:500px;
    height:40px;
    border-radius:5px 5px 5px 5px;
    background:white;
    padding:7px;
    font-size:18px;
    margin-top:15px;
    float: center;
    border-width: 1px;
    border-style:solid;
    border-color: gray;
}
.button{
    width:500px;
    height:50px;
    left:50px;
    top:50px;
    background:rgba(37, 25, 107, 0.767);
    padding: 2px;
    font-family:verdana;
    font-size:25px;
    margin-top: 20px;
    color:white;
    border-radius:5px 5px 5px 5px;
    border-width: 1px;
    border-style:solid;
    cursor:pointer;
}
#fb-body{
    width: 400px;
    height:645px;
    margin-left: auto;
    margin-right: auto;
    color:white;
}
h3 {
    text-align: center;
   	color:white;
   	font-family:verdana;
    height: 5px;
    margin:10px;
    padding-left: 5%; 
    margin-top: -370px;
    cursor:pointer;
}