body {
    background-position: 0 0,10px 10px;
    background-size: 21px 21px;
  }
  .fb-header{
      width:100%;
      height:90px;
      position:absolute;
      background:#3d5b99;
      top:0;
      left:0;
      color:white;
      z-index:7;
      font-family:verdana;
  
  }
  h1{
    position: absolute;
    color:white;
    left: 150px;
    font-family:verdana;
    font-size: 50px;
    height: 130px;
    margin: 5px;
  }
  #form1{
      left:1200px;
      height:60px;
      width:180px;
      top:20px;
      float: right;
      font-family:verdana;
      font-size:12px;
  }
  #form2{
      left:1400px;
      height:60px;
      width:250px;
      top:20px;
      float: right;
      font-family:verdana;
      font-size:12px;
  }
  .submit1{
      left:1600px;
      top:35px;
      background:#5b7bc0;
      color:white;
      position:absolute;
      float: right;
      z-index:20;
      height:22px;
      width:50px;
      cursor:pointer;
  }
  .fb-body{
      position:absolute;
      left:0px;
      top:90px;
      width:100%;
      height:645px;
      color: gray;
  
  }
  #intro1{
      left:150px;
      top:20px;
      font-family:verdana;
      font-size:20px;
      color:#142170;
      font-weight:bold;
      height:75px;
      width:550px;
  }
  #intro2{
      left:1050px;
      top:20px;
      font-family:verdana;
      font-size:40px;
      color:#000;
      font-weight:bold;
      height:75px;
      width:500px;
  }
  .form3{
      top:120px;
      left:750px;
      font-family:verdana;
      font-size:20px;
      color:#142170;
      width:450px;
      height:195px;
  
  }
  #namebox{
      width:200px;
      height:40px;
      border-radius:5px 5px 5px 5px;
      background:white;
      padding:10px;
      font-size:18px;
      margin-top:8px;
      border-width: 1px;
      border-style:solid;
      border-color: gray;
  }
  #mailbox{
      width:408px;
      height:40px;
      border-radius:5px 5px 5px 5px;
      background:white;
      padding:10px;
      font-size:18px;
      margin-top:8px;
      border-width: 1px;
      border-style:solid;
      border-color: gray;
  }
  #intro3{
    font-family:verdana;
    font-size: 15px;
  }
  #intro4{
    left:750px;
    top:70px;
    font-family:verdana;
    font-size:18px;
    color:#000;
    height:50px;
    width:650px;
  }
  .button2{
      width:250px;
      height:40px;
      left:750px;
      top:625px;
      background:green;
      font-family:verdana;
      font-size:18px;
      color:white;
      border-radius:5px 5px 5px 5px;
      border-width: 1px;
      border-style:solid;
      border-color: gray;
      cursor:pointer;
      outline:none;
  }
  