html, body{
    text-align: center;
    margin: auto;
    align-content: center; 
    justify-content: center;
    margin-top: 5%;
}

h1, h2, h3, h4, h5, h6 {
   	color:rgb(12, 12, 12);
   	font-family: 'Courier New', Courier, monospace
}

.insta-body {
    border-style: ridge;
    border-width: 1px;
    width: 100%; 
}

#namebox{
    width:80%;
    height:40px;
    padding:5px;
    border: solid rgb(214, 218, 214);
    margin-top:10px;
    border-width: 2px;
}

.button{
    width: 80%;
    height: 40px;
    margin: 10px;
    padding: 5px;
    background:rgba(48, 144, 223, 0.658);
    color: white;
    border-radius:5px;
}

.insta-footer {
    border-style: ridge;
    border-width: 1px;
    width: 100%;
    margin-top: 15px;
}
.pix {
    transform: translate(44px, -480px);
}
