 .header{
    width: 100%;
    height: 96px;
    background-color: #fff;
    /* position: fixed; */
    z-index: 998;
    -webkit-box-shadow: 0 4px 26px rgb(172 197 207 / 26%);
    -moz-box-shadow: 0 4px 26px rgba(172,197,207,.26);
    box-shadow: 0 4px 26px rgb(172 197 207 / 26%);
    transition: all .5s ease;
    display: block;
    color: white;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
} 



h1{
    font-size: 55px;
    max-width: 30%;
}

h6{
    font-size: 18px;
    max-width: 30%;
}

/* .header{
    width: 100%;
    height: 96px;
    z-index: 998;
    color: white;
    flex-direction: row;
    overflow: hidden;
    display: block;
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: fixed;
} */

body{
    margin: 0%;
    max-width: 604rem!important;
    font-family: gt walsheim pro,sans-serif!important
}

a{
    text-decoration: none;
    display: inline-block;
    margin-right: 30px;
}

.navbar{
    margin-block-start: 1em;
    color: black;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 40px;
    padding-inline-start: 40px;
}

.second-svg{
    width: 30%;
    height: 90%;
    float: right;
    margin-right: 20%;
    margin-top: -26%;
}

.txt{
    margin-top: 10%;
}

.second-body{
    margin-left: 20%;
}

.button{
    min-width: 19px;
    height: 50px;
    background-color: #6371de;
    font-weight: 700;
    border-radius: 5px;
    padding: 0 7px;
    display: inline-block;
}

.free{
    color: #fff;
    font-size: 16px;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 50px;
}


.txt-2{
    background-color: #f4f6ff;
    margin-top: 14%;
    width: 100%;
    text-align: center;
    
}

.txt-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 136px;
}

.third-svg{
    width: 30%;
    height: 60%;
    margin-top: 6%;
}

.cta-1{
    margin-top: 2%;

}

.element{
    display: flex;
    flex-direction: column;
}

.first-element{
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;    
}

.large-title{
    font-size: 46px;
    line-height: 58px;
    font-weight: 700;
    margin-bottom: 96px;
    margin-top: 0;
}

.item-1{
    width: 40px;
    margin-right: 24px;
    display: inline-block;
}



h2{
    margin: 0;
    text-align: center;
}

.second-element{
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;    
}
.item-2{
    width: 40px;
    margin-right: 24px;
    display: inline-block;
}

.third-element{
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;    
}
.item-3{
    width: 40px;
    margin-right: 24px;
    display: inline-block;
}

.fourth-element{
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;    
}
.item-4{
    width: 40px;
    margin-right: 24px;
    display: inline-block;
}

.fifth-element{
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;    
}
.item-5{
    width: 40px;
    margin-right: 24px;
    display: inline-block;
}

.sixth-element{
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;    
}
.item-6{
    width: 40px;
    margin-right: 24px;
    display: inline-block;
}

.seventh-element{
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;    
}
.item-7{
    width: 40px;
    margin-right: 24px;
    display: inline-block;
}

.eighth-element{
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;    
}
.item-8{
    width: 40px;
    margin-right: 24px;
    display: inline-block;
}

.img-container{
    width: 56px;
    text-align: center;
    display: inline-block;
    margin: 0 12px;
    height: 56px;
    line-height: 44px;
}

.container-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 930px;
    margin: 0 auto;
}

.border{
    width: 1px;
    border-right: 2px dashed #d0d1dc;
    height: 44px;
}

.list{
    margin-right: 24px;
    width: 24%;
    display: inline-block
}

.noise{
    padding-left: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 13px;
    color: #6d8297;
}

li{
    padding: 8px 0;
    font-size: 16px;
    display: block;
    width: 100%;
    border-bottom: 1px solid #e0e2ef;
}

.selected{
    background-color: #6371de;
    color: #fff;
    font-weight: 700;  
}

.wrapper{
    padding: 0;
    margin: 0;
}