html, body{
    margin: 0;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 16px;
    width: 100%;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    font-style: bold;
}
h1{
    font-size: 55px;    
}
h2 {
    font-size: 30px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 32px;
}
h5 {
    font-size: 24px;
}
h6{
    font-size: 20px;
}

img {
    width: 100%;
    height: 100%;
}

.header{
    background-color: #83420a;
    padding-top: 5%;
    padding-bottom: 1%;
}

.logo{
    margin-left: 2%;
    margin-top: -3%;
}

.image-1{
    width: 9%;
    height: 5%;
}

.header-content{
    text-align: center;
    margin-top: -9%;
    color: white;
}

.button{
    display: flex;
    justify-content: center;
    height: 40px;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    margin-left: 0px;
}

.button a{
    text-decoration: none;
    color: white;
    margin: 3%;
    margin-top: 1%;
}

.body{
    width: 50%;
    margin-top: 1%;
    margin-left: 25%;
    border-style: solid;
    border-width: 1px;
    border-color: #a3560970;
}
