html {
    font-size: 16px;
}

h4{
    font-size: 50px;
    margin-top: 3%;
}

h5{
    font-size: 45px;
    margin-bottom: 1%;
}

body{
    margin: 0;
}

div, section, header {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    float: left;
}

img {
    width: 100%;
    height: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.chimp-header-top{
    width: 30%;
    padding: 10px 50px;
    overflow: hidden; 
    position: absolute;
    z-index: 610;
}

.image-1{
    width: 40px;
    height: 40px;
    margin-top: 1%;
}
.chimp-header-top a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 4%;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
}

.mail-chimp{
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.first-body{
    background-color:  #f9e0fa;
    padding-top: 8%;
    padding-bottom: 5%;
    
}

.body-content{
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
    max-width: 30%;
    margin-left: 18%;
    margin-top: -5%;
    margin-right: auto;
}

.button{
    color:white;
    background-color: #007c89;
    font-weight: 600;
    font-size: 15px;
    padding: 20px 40px;
    margin-left: 18%;
}

.second-body{
    background: #fbeeca;
    padding-top: 5%;
    padding-bottom: 5%;

}

.second-body-content{
    max-width: 50%;
    margin-left: 35%;
    margin-right: auto;
    font-size: 50px;
    margin-top: 1%;
}

.second-body-text{
    max-width: 50%;
    margin-left: 29%;
    margin-right: auto;
    font-size: 20px;
}

.second-body-word{
    max-width: 50%;
    margin-left: 40%;
    margin-right: auto;
    font-size: 20px;
    margin-top: -1%;
}

.content{
    margin-top: 5%;
}

.online{
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
    max-width: 70%;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: auto;
}

.brand{
    font-size: 20px;
    box-sizing: border-box;
    max-width:26%;
    margin-left: 20%;
    margin-right: auto;
}

.cta-2{
    color: #007c89;
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    padding: 20px 40px;
    margin-left: 20%;
    cursor: pointer;
}

.image-2{
    width: 580px;
    height: 500px;
    margin-left: 55%;
    margin-top: -8%;
}

.market{
    width: 100%;
    font-size: 30px;
    box-sizing: border-box;
    max-width: 30%;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: auto;
}

.message{
    font-size: 20px;
    box-sizing: border-box;
    max-width:26%;
    margin-left: 20%;
    margin-right: auto;
}

.cta-3{
    color: #007c89;
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    padding: 20px 40px;
    margin-left: 20%;
    cursor: pointer;
}

.image-3{
    width: 580px;
    height: 500px;
    margin-left: 55%;
    margin-top: -18%;
}

.spa{
    margin-top: 8%;
}

.content-2{
    font-size: 45px;
    box-sizing: border-box;
    max-width: 30%;
    margin-left: 20%;
    margin-top: 3%;
    margin-right: auto;
}

.image-4{
    width: 550px;
    height: 550px;
    margin-left: 20%;
}

.help{
    font-size: 30px;
    box-sizing: border-box;
    margin-left: 55%;
    margin-top: -20%;
    margin-right: auto;
}

.heart{
    font-size: 20px;
    box-sizing: border-box;
    max-width: 26%;
    margin-left: 55%;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: #007c89;
    font-size: 22px;
    margin-left: 55%;
}

.image-5{
    width: 550px;
    height: 550px;
    margin-left: 20%;
    margin-top: 15%;
}

.third-body{
    margin-bottom: 15%;
}

.create{
    font-size: 30px;
    box-sizing: border-box;
    margin-left: 55%;
    margin-top: -20%;
    margin-right: auto;
}

.shine{
    font-size: 20px;
    box-sizing: border-box;
    max-width: 26%;
    margin-left: 55%;
    margin-right: auto;
}

.fourth-body{
    background-color: #f6f6f4;
}

.grid{
    display: flex;
    padding-left: 15%;
    margin-top: -10%;
}

.grow{
    text-align: center;
    font-size: 25px;
}

.logo{
    margin-top: 13%;
}

.image-6{
    width: 30%;
    height: 55%;
    margin-bottom: -2%;
}

.customer{
    font-size: 20px;
    margin-top: 11%;
}

.vimeo{
    margin-top: 15%;
}

.class{
    font-size: 20px;
}

.ted{
    margin-top: 15%;
}

.forward{
    width: 23%;
    text-align: center;
    margin-left: 39%;
    font-size: 55px;
}

.role{
    width: 38%;
    padding-left: 10%;
    margin-top: 10%;
}

.cell-1{
    margin-left: 200px;
}
.image-7{
    width: 40%;
    height: 100%;
}

.award{
    font-size: 30px;
    margin-left: -3%;
}

.get{
    font-size: 20px;
    margin-left: -5%;
}
.support{
    font-size: 20px;
    margin-top: -1%;
    margin-left: -1%;
}

.learn{
    margin-left: 9%;
}

.content-3{
    margin-top: -80%;
    margin-left: 600px;
}

.image-8{
    width: 40%;
    height: 100%;
}

.app{
    font-size: 30px;
}

.tool{
    font-size: 20px;
}

.even{
    font-size: 20px;
    margin-left: -5%;
}

.learn-2{
    margin-left: 15%;
}

.image-9{
    width: 40%;
    height: 100%;
}

.content-4{
    margin-top: -80%;
    margin-left: 1000px;
}

.work{
    font-size: 20px;
    margin-left: 5%;
}

.show{
    text-align: center;
    font-size: 55px;
}

.fifth-body{
    background-color: #fbeeca;
    margin-top: 15%;
    padding-bottom: 15%;
}

.wrap{
    display: flex;
    align-content: center;
    margin-top: 5%;
    padding-left: 400px;
}

.image-10{
    width: 90%;
    height: 100%
}

.large{
    padding-right: 380px;
    margin-top: 10%;
}

.connect{
    font-size: 34px;
}

.power{
    font-size: 20px;
}

.flex{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    padding-left: 450px;
}

.small{
    margin-top: 8%;
}

.row{
    padding-right: 350px;
}

.image-11{
    width: 100%;
    height: 100%;
}

.pave{
    font-size: 34px;
}

.lead{
    font-size: 20px;
}

.order{
    text-align: center;
}

.auto{
    width: 39%;
    font-weight: lighter;
    text-align: center;
    margin-left: 33%;
    font-size: 55px;
}

.data{
    width: 43%;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    margin-left: 33%;
    margin-top: -1%;
}

.button-2{
    color:white;
    background-color: #007c89;
    font-weight: 600;
    font-size: 15px;
    padding: 19px 40px;
    margin-left: 5%;
}

.image-12{
    width: 30%;
    height: 700px;
    margin-left: 35%;
    margin-top: -17%;
}

.smile{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10%;
    padding-left: 350px;
}

.pic{
    padding-right: 20%;
    margin-top: -12%;
}

.image-13{
    width: 35%;
    height: 25%;
}

.track{
    font-size: 20px;
    font-weight: lighter;
}

.street{
    padding-right: 20%;
    margin-top: -10%;
}

.percent{
    display: flex;
    justify-content: space-around;
    padding-right: 20%;
}

.lift{
    margin-top: 20%;
    margin-left: -50%;
}

.image-14{
    width: 100%;
    height: 95%;
}

.sixth-body{
    background-color: #f6f6f4;
    margin-top: 9%;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 12%;
}

.best{
    width: 50%;
    margin-left: 26%;
    font-size: 45px;
    font-weight: 600;
}

.cta-4{
    color: #007c89;
    background-color: transparent;
    font-weight: 600;
    font-size: 15px;
    padding: 20px 40px;
    margin-left: 0;
    cursor: pointer;
}

.image-15{
    width: 25%;
    height: 80%;
    margin-left: 40%;
    margin-top: -13%;
}

.pre{
    margin-top: 0;
}

.word-1{
    font-weight: 500;
    width: 39%;
    text-align: center;
    margin-left: 30%;
    font-size: 55px;
}

.word-2{
    font-size: 25px;
    font-weight: 300;
    font-weight: 100;
    width: 55%;
    margin-left: 27%;
    margin-top: -2%;
    text-align: center;
}

.parent{

}

.basic{
    background-color: #d8eacc;
    width: 40%;
    padding-top: 5%;
    margin-left: 19%;
    margin-top: 3%;
    text-align: center;
}

.font-1{
    font-size: 23px;
}

.font-2{
    font-size: 55px;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: -3%;
}

.font-3{
    font-size: 25px;
    width: 90%;
    margin-left: 5%;
}

.button-5{
    background-color: #007c89;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 20px 40px;
    margin-left: 0;
    cursor: pointer;
}

.child{
    margin-left: 82%;
    margin-top: -60%;
}
.image-16{
    width: 60%;
    height: 10%;
}

.base{
    width: 60%;
    margin-top: -1%;
    margin-left: 863px;
    border-style: solid;
    border-width: 1px;
}

.image-17{
    margin-top: 10%;
    width: 50%;
    height: 10%;
}

.text{
    font-size: 23px;
    width: 90%;
    margin-left: 5%;
}

.background{
    padding-left: 19%;
    margin-top: 1%;
}

.image-18{
    width: 27%;
    height: 100%;
}

.courier{
    position: absolute;
    color: white;
    font-size: 45px;
    font-weight: 800;
    margin-top: 1%;
    margin-left: -19%;
}

.workshop{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8%;
    margin-left: -19%;
}

.start{
    position: absolute;
    color: white;
    width: 13%;
    font-size: 30px;
    font-weight: 500;
    margin-top: 10%;
    margin-left: -19%;
}

.more{
    position: absolute;
    color: white;
    font-size: 19px;
    font-weight: 500;
    margin-top: 16%;
    margin-left: -19%;
}

.base-top{
    background-color: #fdece5;
    margin-left: 42%;
    margin-top: -20%;
    width: 42%;
    padding-bottom: %;
}

.last-image{
    margin-left: 10%;
    margin-top: 8%;
}

.image-19{
    width: 35%;
    height: 10%;
}

.tip{
    position: absolute;
    color: black;
    font-size: 25px;
    font-weight: 800;
    margin-top: -14%;
    margin-left: 23%;
}

.sell{
    position: absolute;
    color: black;
    width: 15%;
    font-size: 35px;
    font-weight: 500;
    margin-top: -12%;
    margin-left: 23%;
}

.find{
    position: absolute;
    color: black;
    width: 13%;
    font-size: 20px;
    font-weight: 500;
    margin-top: -7%;
    margin-left: 23%;
}

.footer{
    margin-top: 7%;
    background-color: #ffe01b;
    text-align: center;
    padding-bottom: 5%;
}

.do{
    margin-top: 4%;
    font-size: 65px;
}

.idea{
    font-size: 32px;
    margin-top: -2%;
}

.button-7{
    color:white;
    background-color: #007c89;
    font-weight: 600;
    font-size: 15px;
    padding: 20px 40px;
    margin-left: 0;
}
