body {
    background-color: rgb(19, 137, 192);
}

.top {
    background-color: rgb(13, 13, 14);
    color: white;
}


.header {
    margin-left: 40%;
}

.form {
    width:30%;
    font-size: 25px;
    height: 50px;
    margin-left: 0%;
    margin-top:50px;
    margin-bottom: -40px;
    font-weight: 700;   
}

#namebox {
    width:500px;
    height:40px;
    border-radius:5px 5px 5px 5px;
    background:white;
    padding:7px;
    font-size:18px;
    margin-top:10px;
    margin-bottom: -10%;
    border-width: 1px;
    border-style:solid;
    border-color: transparent;
    cursor:pointer;
}

.form2 {
    width:30%;
    height: 50px;
    margin-left: 0%;
    margin-top:50px;
    margin-bottom: -40px;
    font-size: 25px;
    font-weight: 700;
}

.button{
    width:30%;
    height:50px;
    top:50px;
    margin-left: 5%;
    background:rgb(21, 31, 36);
    padding: 2px;
    font-family:verdana;
    font-size:25px;
    margin-top: 5%;
    color:white;
    border-radius:5px 5px 5px 5px;
    border-width: 1px;
    border-style:solid;
    cursor:pointer;
}