body {
    background-color: white;
    margin: 0px;
    padding-left: 100px;
    margin-right: all;
}
h1 {
    text-align: center;
    color:rgb(12, 12, 12);
   	font-family: Helvetica Neue;
    font-size: 50px;
    height: 80px;
    margin: 5px;
    margin-top: 200px;
    margin-bottom: 0px;
}
.logo {
    padding-right: 90px;
    padding-top: auto;
    height: 30px;
    padding-bottom: auto;
}
.twit-body{
    width: 400px;
    height:645px;
    margin-left: auto;
    margin-right: auto;
    color:white;
}
#namebox{
    width:400px;
    height:40px;
    background:white;
    padding:10px;
    border-spacing:10px;
    font-size:18px;
    margin-top:20px;
    color: black;
    float: center;
    border-width: 1px;
}
.button{
    width:400px;
    height:50px;
    top:40px;
    background:rgb(74, 174, 255);
    padding-left:10px;
    font-family: Arial;
    font-size:25px;
    margin-top: 20px;
    color:white;
    border-radius:5px 5px 5px 5px;
    border-width: 0px;
    border-radius: 50px;
    cursor:pointer;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    height: 5px;
    margin:10px;
    padding-right: 0%;
    margin-top: -390px;
    cursor:pointer;
}

a {
    text-decoration: none;
    color: rgb(74, 174, 255);

}